* {
    margin: 0;
    padding: 0;
}
:root {
    --lightblue:rgb(9, 113, 198);
    --darkpurple: rgb(51, 2, 94);
}

body {
    background-image: url(../img/noaa-kcvlb727mn8-unsplash.jpg);
    background-size: 160%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1 {
    background-color:var(--lightblue);
    color:aliceblue;

}

div h4 {
    background-color:var(--lightblue);
    color:aliceblue;
}